
#h22 {
    font-size: 3em;
    text-decoration: underline;
}

p {
    color: #523634;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
body {
    background-color: #523634;
    font-family: Arial, sans-serif;
    text-align: center;
  }
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #DDC5A2; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }